main {
  background-color: rgb(17 17 17);
  color: #fefefe;
  padding: 15px 20px;
  margin-inline: 290px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.nome {
  font-style: normal;
  box-sizing: border-box;
  margin-bottom: .25rem;
  font-weight: 10;
  letter-spacing: -.025em;
  font-size: 3rem;
  line-height: 1;
  color: rgb(255 255 255/var(--tw-text-opacity)); 
}

img {
  height: 120px;
  padding-left: 30px;

}